In [1]:
import pandas as pd

# Read the parquet file
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

# Display the dataframe
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [2]:
# Calculate the number of columns
num_columns = len(df.columns)
print(f"Q1: Downloading the data. Columns: {num_columns}")

Q1: Downloading the data. Columns: 19

In [3]:
# Compute the duration variable
df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,0 days 00:10:50

In [4]:
# Compute the standard of the duration variable
duration_std = df['duration'].std()
print(f"Q2: computing duration. Standard deviation: {duration_std}")

Q2: computing duration. Standard deviation: 0 days 00:42:35.661074

In [5]:
# Filter the dataframe to keep only records with duration between 1 and 60 minutes (including)
filtered_df = df[(df['duration'] >= pd.Timedelta(minutes=1)) & (df['duration'] <= pd.Timedelta(minutes=60))]
filtered_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,0 days 00:10:50

In [6]:

# Calculate the fraction of records left
fraction_left = len(filtered_df) / len(df)
print(f"Q3: Dropping outliers. fraction left after filter: {fraction_left*100:.0f}% - actual value: {fraction_left}")

Q3: Dropping outliers. fraction left after filter: 98% - actual value: 0.9812202822125979

In [7]:

# Select only the pickup and dropoff location ID columns and recast as a str
filtered_df.loc[:,'PULocationID'] = filtered_df['PULocationID'].astype(str)
filtered_df.loc[:,'DOLocationID'] = filtered_df['DOLocationID'].astype(str)
# Convert dataframe to dictionaries
dicts = filtered_df[['PULocationID', 'DOLocationID']].to_dict(orient='records')

/tmp/ipykernel_25652/1955865233.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['161' '43' '48' ... '114' '230' '262']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  filtered_df.loc[:,'PULocationID'] = filtered_df['PULocationID'].astype(str)
/tmp/ipykernel_25652/1955865233.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['141' '237' '238' ... '239' '79' '143']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  filtered_df.loc[:,'DOLocationID'] = filtered_df['DOLocationID'].astype(str)

In [8]:
from sklearn.feature_extraction import DictVectorizer
# Fit a dictionary vectorizer
dv = DictVectorizer(sparse=True)
feature_matrix = dv.fit_transform(dicts)

print(f"Q4: One-hot encoding. Feature matrix shape: {feature_matrix.shape} - columns: {feature_matrix.shape[1]} rows: {feature_matrix.shape[0]}")

Q4: One-hot encoding. Feature matrix shape: (3009173, 515) - columns: 515 rows: 3009173

In [9]:
# Create the target variable as the duration in minutes
target = filtered_df['duration'].dt.total_seconds() / 60  # Convert duration to minutes
# print dimensions for comparison with feature_matrix
target.shape

(3009173,)

In [10]:
# print dimensions for comparison with target
feature_matrix.shape

(3009173, 515)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Initialize the Linear Regression model
lr = LinearRegression()

# Fit the model using the feature matrix and the target variable
lr.fit(feature_matrix, target)
# Train: Predict the target values on the training data
predictions = lr.predict(feature_matrix)
# Calculate the RMSE (Root Mean Squared Error)
rmse = np.sqrt(mean_squared_error(target, predictions))
# Output the RMSE value
print(f"Q5. Training a model. RMSE on training data: {rmse}")

Q5. Training a model. RMSE on training data: 7.649261929201487

In [12]:
# load validation dataset
validation_df = pd.read_parquet('yellow_tripdata_2023-02.parquet')

# Calculate the duration (assuming similar columns for pickup/dropoff times)
validation_df['duration'] = validation_df['tpep_dropoff_datetime'] - validation_df['tpep_pickup_datetime']

# Filter the dataframe to keep only records with duration between 1 and 60 minutes (inclusive)
validation_filtered_df = validation_df[(validation_df['duration'] >= pd.Timedelta(minutes=1)) & (validation_df['duration'] <= pd.Timedelta(minutes=60))]

# Recast IDs as strings and generate the feature matrix from the filtered validation data
validation_filtered_df.loc[:, 'PULocationID'] = validation_filtered_df['PULocationID'].astype('Int64').astype(str)
validation_filtered_df.loc[:, 'DOLocationID'] = validation_filtered_df['DOLocationID'].astype('Int64').astype(str)

# Convert dataframe to dictionaries
validation_dicts = validation_filtered_df[['PULocationID', 'DOLocationID']].to_dict(orient='records')

# Transform the validation data using the dictionary vectorizer (use the same dv object from training)
validation_feature_matrix = dv.transform(validation_dicts)

# Extract the target variable (duration in minutes)
validation_target = validation_filtered_df['duration'].dt.total_seconds() / 60  # Duration in minutes

# Predict the target values using the trained model (lr from previous step)
validation_predictions = lr.predict(validation_feature_matrix)

# Calculate the RMSE on the validation data
validation_rmse = np.sqrt(mean_squared_error(validation_target, validation_predictions))

# Output the RMSE value for the validation set
print(f"Q6. Evaluating the model. RMSE on validation data: {validation_rmse}")

/tmp/ipykernel_25652/1841639069.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['142' '132' '161' ... '158' '79' '161']' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  validation_filtered_df.loc[:, 'PULocationID'] = validation_filtered_df['PULocationID'].astype('Int64').astype(str)
/tmp/ipykernel_25652/1841639069.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['163' '26' '145' ... '143' '162' '140']' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  validation_filtered_df.loc[:, 'DOLocationID'] = validation_filtered_df['DOLocationID'].astype('Int64').astype(str)

RMSE on validation data: 7.811819793542861